Repository swkoubou/HackU2021, pull requests merged in 2021-09, with the labels that each got.

#28 エンドポイントを作成し、テストデータを落とせるようにした
  go/handle/handle.go
  go/main.go
  nginx/nginx.conf
Labels: back

#34 dbサーバを構築した
  .env
  db/cnf/my.cnf
  db/data/init.sql
  db/db.env
  docker-compose.yml
  go/go.mod
  go/go.sum
  go/main.go
  go/manage/manage.go
Labels: back

#37 パラメータを受け取って仮の構造体を生成する関数を作成した
  go/account/account.go
  go/collection/collection.go
  go/question/question.go
Labels: back

#33 Front/7 Vue.js でログインできるようにした
  front/README.md
  front/package.json
  front/src/App.vue
  front/src/main.js
  front/src/router/index.js
  front/src/views/LoginPage.vue
  front/src/views/LoginSuccessPreviewPage.vue
  front/vue.config.js
  front/yarn.lock
Labels: front

#39 DBからquestionを取得する関数のテストケースを作成した
  go/manage/manage.go
  go/manage/manage_test.go
Labels: back

#24 問題集コンポーネントを作成しました。Front/14
  front/src/components/Question.vue
  front/src/components/QuestionCollection.vue
  front/src/testdata/question.json
Labels: front

#43 ホーム画面に表示する問題のプレビューコンポーネントを作成　Front/30
  front/src/components/QuestionPreview.vue
  front/src/components/icons/IconQuestion4taku.vue
  front/src/components/icons/IconQuestionAnaume.vue
  front/src/components/icons/IconQuestionCollection.vue
  front/src/testdata/question.json
  front/src/views/ComponentsPreviewPage.vue
Labels: front

#44 GetCollectionのテストを書いた
  go/account/account.go
  go/collection/collection.go
  go/manage/manage.go
  go/manage/manage_test.go
  go/question/question.go
Labels: back

#47 firebaseのjwtをlocalstorageに保存するようにした
  front/src/views/LoginPage.vue
  front/src/views/LoginSuccessPreviewPage.vue
Labels: front

#48 DBからquestionを取得できるようにしました．
  go/manage/manage.go
  go/manage/manage_test.go
Labels: back

#46 Front/42 front側のserverをdockerに載せた
  .gitignore
  README.md
  docker-compose.yml
  front/.dockerignore
  front/Dockerfile
  front/README.md
  front/src/main.js
  front/vue.config.js
  nginx/Dockerfile
  nginx/nginx.conf
  nginx/src/index.html
Labels: front

#52 Common/32 認証できるようにした
  .gitignore
  README.md
  front/src/views/LoginSuccessPreviewPage.vue
  go/go.mod
  go/go.sum
  go/main.go
  go/middleware/middleware.go
Labels: common

#51 go用のDockerfileを作った
  docker-compose.yml
  go/Dockerfile
Labels: back

#56 Front/55 firebase 日本語化した
  front/Dockerfile
  front/README.md
  front/package.json
  front/src/views/LoginPage.vue
  front/yarn.lock
Labels: front

#58 CRUD周りのファイル整理を行い、関数の要件を書いた
  .gitignore
  go/collection/collection.go
  go/collection/collection_test.go
  go/firebase-adminsdk.json
  go/manage/manage.go
  go/manage/manage_test.go
  go/question/question.go
  go/question/question_test.go
Labels: back

#64 Question構造体とQuestionParam構造体にQuestionNameを追加しました．
  go/question/question.go
Labels: back

#54 handleからfirebaseにアクセスできるようにした
  go/handle/handle.go
  go/main.go
  go/middleware/middleware.go
Labels: back

#59 Front/57 Googleアカウントで認証できるようにした
  front/src/views/LoginPage.vue
Labels: front

#68 スペル直した
  go/collection/collection.go
  go/question/question.go
Labels: back

#71 秘密鍵をリポジトリから消した
  go/firebase-adminsdk.json
Labels: common

#69 ホーム画面を作成
  front/src/components/HelloWorld.vue
  front/src/components/QuestionAndCollectionPostList.vue
  front/src/testdata/question.json
  front/src/views/Home.vue
Labels: front

#72 Revert "スペル直した"
  go/collection/collection.go
  go/question/question.go
Labels: back

#84 Authorのつづり直しました
  go/collection/collection.go
  go/collection/collection_test.go
  go/handle/handle.go
  go/question/question.go
  go/question/question_test.go
Labels: back

#76 スコアページを追加し、問題回答ページから遷移できるようにしました　Front/62
  front/src/App.vue
  front/src/components/Question.vue
  front/src/components/ScoreSyomon.vue
  front/src/router/index.js
  front/src/views/ScorePage.vue
Labels: front

#89 Goから返却されるjsonに対応するように、コンポーネントを書き換えました。　Front/82
  front/src/components/Question.vue
  front/src/components/Question4taku.vue
  front/src/components/QuestionAnaume.vue
  front/src/components/QuestionPreview.vue
  front/src/testdata/question.json
  front/src/views/AnswerTheQuestionPage.vue
  front/src/views/ComponentsPreviewPage.vue
Labels: front

#87 DBからCollection取得できるようにした
  go/collection/collection.go
Labels: back

#85 CRUD関数の作成，GetAuthor関数の作成 back/60
  go/question/question.go
Labels: back

#93 問題のプレビューをXDに合わせた
  front/package.json
  front/src/components/QuestionAndCollectionPostList.vue
  front/src/components/QuestionPreview.vue
  front/src/testdata/question.json
  front/yarn.lock
Labels: front

#88 ヘッダーを作った
  front/package.json
  front/src/App.vue
  front/src/components/Header.vue
  front/yarn.lock
Labels: front

#97 問題の意味が通るようにした
  go/handle/handle.go
Labels: back

#94 問題コンポーネントを新デザインに変更しました。　Front/90
  front/src/components/Question4takuMock.vue
  front/src/components/QuestionAnaumeMock.vue
  front/src/components/QuestionCollectionMock.vue
  front/src/components/QuestionMock.vue
  front/src/views/ComponentsPreviewPage.vue
Labels: front

#102 Descriptionのつづりを修正しました
  front/src/testdata/question.json
  go/collection/collection.go
  go/collection/collection_test.go
  go/handle/handle.go
Labels: back

#100 新デザインの問題コンポーネントを回答可能にしました。　Front/98
  front/src/components/Question4takuMock.vue
  front/src/components/QuestionAnaumeMock.vue
  front/src/components/QuestionCollectionMock.vue
  front/src/components/QuestionMock.vue
  front/src/components/ScoreSyomon.vue
  front/src/views/AnswerTheQuestionPage.vue
  front/src/views/ScorePage.vue
Labels: front

#106 var を抹消した
  front/src/components/QuestionAnaumeMock.vue
Labels: front

#110 通知欄のはりぼて（サンプル）を作成
  front/src/App.vue
  front/src/components/Header.vue
  front/src/router/index.js
  front/src/views/NotifiCationPage.vue
Labels: front

#107 穴埋め問題、選択リセットボタンを追加しました。　Front/103
  front/src/components/QuestionAnaumeMock.vue
Labels: front

#109 色のプロパティをCollectionとQuestionに追加しました
  go/collection/collection.go
  go/handle/handle.go
  go/question/question.go
Labels: back

#119 時間を修正
  go/handle/handle.go
Labels: back

#120 Questions[0:3]のQuestionName設定しました
  go/handle/handle.go
Labels: back

#113 問題と問題集のデータをバックエンドからデータを持ってくるようにした
  front/src/views/Home.vue
Labels: front

#117 リンクリストをComponentsへ移動した
  front/src/App.vue
  front/src/views/ComponentsPreviewPage.vue
Labels: front

#115 新しいデザインの問題コンポーネントからMockの文字を消し、古いものを消しました。Front/111
  front/src/components/Question.vue
  front/src/components/Question4taku.vue
  front/src/components/Question4takuMock.vue
  front/src/components/QuestionAnaume.vue
  front/src/components/QuestionAnaumeMock.vue
  front/src/components/QuestionCollection.vue
  front/src/components/QuestionCollectionMock.vue
  front/src/components/QuestionMock.vue
  front/src/views/AnswerTheQuestionPage.vue
  front/src/views/ComponentsPreviewPage.vue
Labels: front

#125 DBにCollectionを追加する関数SetCollectionを作成した
  go/collection/collection.go
Labels: back

#124 スコアページからスコアに戻るボタンを作成
  front/src/views/ScorePage.vue
Labels: front

#126 プレビューから問題に飛べるようにした。front/121
  front/src/components/QuestionPreview.vue
  front/src/router/index.js
  front/src/views/AnswerTheQuestionPage.vue
Labels: front

#134 updateTimeを全て追加しました．
  go/handle/handle.go
Labels: back

#135 キャメルケースに変更
  go/collection/collection.go
Labels: back

#128 穴埋め問題において選択中のマークが右に少しずれていたものを修正した
  front/src/components/QuestionAnaume.vue
Labels: front

#136 questionPreviewの更新日時が固定になってしまうバグを修正
  front/src/components/QuestionPreview.vue
Labels: front

#138 goとfrontを立ち上げてからproxy serverが立ち上がるように修正
  docker-compose.yml
Labels: common

#139 問題集の連続した4択問題において、選択した回答の位置が保存されてしまう問題修正　Front/129
  front/src/components/Question4taku.vue
  front/src/testdata/question.json
Labels: front

#145 連続した穴埋め問題において、一つ前に選択されていたものが、次の問題でも選択された状態になってしまうバグを修正Front/144
  front/src/components/QuestionAnaume.vue
  front/src/testdata/question.json
Labels: front

#142 テストデータを使用して、ローカル問題検索を行えるようにしました。　Front/141
  front/src/components/Header.vue
  front/src/router/index.js
  front/src/testdata/question.json
  front/src/views/SearchPage.vue
Labels: front

#148 Toggleボタンを作成した [WIP]
  front/src/components/ToggleButtonComponent.vue
  front/src/views/ComponentsPreviewPage.vue
Labels: front

#151 本文追加した
  front/src/components/QuestionAnaume.vue
  front/src/views/ComponentsPreviewPage.vue
Labels: front

#154 どこを押してもContextMenuを消せるようにした
  front/src/components/Header.vue
Labels: front

#157 穴埋め問題のFront/156
  front/src/components/QuestionAnaume.vue
  front/src/views/ComponentsPreviewPage.vue
Labels: front
